<div class="Textstartseite">
<h3 style="color: whitesmoke;">Willkommen bei LTPS Testzentrum</h3><br>
<p style="color: whitesmoke;">Der Lern-Test-Prüf-Simulator für Einsteiger und Fortgeschrittene</p><br>
<p style="color: whitesmoke;">Im Lernmodus hast du eine Auswahl an Fragen zu Multiple-Single Choice sowie in Fillin Fragen.</p>
<p style="color: whitesmoke;">Weiter hast du zum Lernen eine Liste um die Fragen dir mit Ergebnissen anzeigen zu lassen.</p>

<p style="color: whitesmoke;">Im Testmodus wirst du nach 7 Fehlern zurück zum Lernmodus versetzt, damit du zu 100% sicher bist bei deinen Antworten.</p><br>
<p style="color: whitesmoke;">Raten ist nicht erlaubt, nur bei 100 % Sicherheit Festigt sich das erlernte auch dauerhaft.</p><br>

<p style="color: whitesmoke;">Der Prüfmodus ist nur da wenn du dir 100% sicher bist, alle Fragen ohne raten auszuwählen, denn bei 20% falscher Fragen wirst du wieder auf den Lernmodus verwiesen</p>

<p style="color: whitesmoke;">Wir Wünschen dir Viel Erfolg und Spaß beim Lernen.</p><br>

<p style="color: whitesmoke;">Dein Lern-Test-Prüf-Simulator für LPIC 1 101</p>


</div>
<Footer><div class="footer">VIEL SPASS BEIM LERNEN</div></Footer>
<!-- height: 450px;
width: 650px; -->
