<!-- <div class="body1">

  <div class="body1">

    <button class="ui animated fade button" tabindex="0">
      <div class="visible content">Benutzerkonto</div>
      <div class="hidden content">
        Anmelden
      </div>
    </button>
    <div class="ui right floated header">Datum</div>
  </div>
</div> -->
<!-- <div class="body2"> -->
<!-- <img src="../homepage.jpg" alt=""> -->
<div class="hintergrund">
  <div class="centerDiv">

    <!-- <div> -->


    <!-- <h1>Ergebnisse:</h1>
 <ul>
     <h2>Anzahl</h2>
     <li>richtige Fragen: 0</li>
     <li>false Fragen: 0</li>
     <li>überspringene Fragen: 0</li>
 </ul> -->

    <nav class="nav">
      <button class="ui animated button blue" routerLink="home">
        <div class="visible content">HOME</div>
        <div class="hidden content">Startseite
          <i class="right arrow icon"></i>
        </div>
      </button>
      <button class="ui animated button blue" routerLink="lernmodus">
        <div class="visible content">Lernmodus</div>
        <div class="hidden content">Auswahl
          <i class="right arrow icon"></i>
        </div>
      </button>
      <button class="ui animated button blue" routerLink="testmodus">
        <div class="visible content">Testmodus</div>
        <div class="hidden content">
          <i class="right arrow icon"></i>
        </div>
      </button>
      <button class="ui animated button blue" routerLink="pruefmodus">
        <div class="visible content">Prüfmodus</div>
        <div class="hidden content">
          <i class="right arrow icon"></i>
        </div>
      </button>
    </nav>
    <router-outlet></router-outlet>

    <!-- <Footer><div class="footer">VIEL SPASS BEIM LERNEN</div></Footer> -->

  </div>

</div>
